
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Footer</title>

    <!-- Include CARTO VL & Mapbox GL -->
    <script src="https://libs.cartocdn.com/carto-vl/v1.2/carto-vl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js"></script>

    <!-- Airship CSS -->
    <link rel="stylesheet" href="https://libs.cartocdn.com/airship-style/v2/airship.css">
    <link rel="stylesheet" href="https://libs.cartocdn.com/airship-icons/v2/icons.css">
</head>

<body class="as-app-body">
  <div class="as-app">
    <header class="as-toolbar">
      <button class="as-toolbar__item as-toolbar__toggle">
        <i class="as-icon as-icon-hamburger as-title as-m--0"></i>
      </button>
      <div class="as-toolbar__item">
        <img src="https://carto.com/developers/airship/reference/imported_content/examples/layouts/common/logo-circle.svg">
      </div>
      <nav class="as-toolbar__actions">
        <ul>
          <li>
            <div class="as-toolbar__item">
              <a href="/layout/3_sidebar/index.html"><i class="as-icon as-icon-chevron-left"></i></a>
            </div>
          </li>
          <li>
            <div class="as-toolbar__item">
              <a href="/layout/5_panels/index.html"><i class="as-icon as-icon-chevron-right"></i></a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="as-content">
      <main class="as-main">
          <div class="as-map-area">
              <div id="map"></div>
              <footer class="as-map-footer">
                <div class="as-box">
                  <p class="as-title">Box</p>
                  <p class="as-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p class="as-body">
                    Inventore possimus nam quam necessitatibus omnis, est sequi rem quibusdam molestiae.
                  </p>
                </div>
              </footer>
          </div>
      </main>
      <!-- <aside class="as-sidebar as-sidebar--right"> -->
      <aside class="as-sidebar as-sidebar--left">
        <div id="about" class="as-container as-container--border">
          <section class="as-box">
            <h1 class="as-title">About Inside Airbnb</h1>
            <p class="as-body">
                <a href="http://insideairbnb.com/">Inside Airbnb</a> is an independent, non-commercial set of tools and data that allows you to explore how Airbnb is really being used in cities around the world.
                By analyzing publicly available information about a city's Airbnb's listings, Inside Airbnb provides filters and key metrics so you can see how Airbnb is being used to compete with the residential housing market.
            </p>
            <button id="clearAbout" class="as-btn as-btn--primary">Got it!</button>
          </section>
        </div>
        <div class="as-container as-container--scrollable">
          <section class="as-box">
            <h1 class="as-title">A box in a scrollable container</h1>
            <p class="as-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit hic laborum amet et. Rerum architecto labore cum animi? Eum earum temporibus totam saepe, enim unde dolorem provident sapiente qui?
            </p>
          </section>
          <section class="as-box">
            <h1 class="as-title">A box in a scrollable container</h1>
            <p class="as-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit hic laborum amet et. Rerum architecto labore cum animi? Eum earum temporibus totam saepe, enim unde dolorem provident sapiente qui?
            </p>
          </section>
          <section class="as-box">
            <h1 class="as-title">A box in a scrollable container</h1>
            <p class="as-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit hic laborum amet et. Rerum architecto labore cum animi? Eum earum temporibus totam saepe, enim unde dolorem provident sapiente qui?
            </p>
          </section>
          <section class="as-box">
              <h1 class="as-title">A box in a scrollable container</h1>
              <p class="as-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit hic laborum amet et. Rerum architecto labore cum animi? Eum earum temporibus totam saepe, enim unde dolorem provident sapiente qui?
              </p>
            </section>
        </div>
      </aside>
    </div>
  </div>
  <script src="/scripts/map.js"></script>
  <script>
    createMap();
  </script>
  <script>
    const toolbarActions = document.querySelector('.as-toolbar__actions');
    document.querySelector('.as-toolbar__toggle').addEventListener('click', () => {
      toolbarActions.classList.toggle('as-toolbar__actions--visible');
    });

    const about = document.querySelector('#about');
    document.querySelector('#clearAbout').addEventListener('click', () => {
      about.remove();
    });
  </script>
</body>

</html>
