
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Category widget</title>

    <!-- Include CARTO VL & Mapbox GL -->
    <script src="https://libs.cartocdn.com/carto-vl/v1.2/carto-vl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js"></script>

    <!-- Airship CSS -->
    <link rel="stylesheet" href="https://libs.cartocdn.com/airship-style/v2/airship.css">
    <link rel="stylesheet" href="https://libs.cartocdn.com/airship-icons/v2/icons.css">

    <!-- Airship Components -->
    <script src="https://libs.cartocdn.com/airship-components/v2/airship.js"></script>
</head>

<body class="as-app-body">
  <div class="as-app">
    <header class="as-toolbar">
      <button class="as-toolbar__item as-toolbar__toggle">
        <i class="as-icon as-icon-hamburger as-title as-m--0"></i>
      </button>
      <div class="as-toolbar__item">
        <img src="https://carto.com/developers/airship/reference/imported_content/examples/layouts/common/logo-circle.svg">
      </div>
      <nav class="as-toolbar__actions">
        <ul>
          <li>
            <div class="as-toolbar__item">
              <a href="/components/2_range_slider.html"><i class="as-icon as-icon-chevron-left"></i></a>
            </div>
          </li>
          <li>
            <div class="as-toolbar__item">
              <a href="/components/4_histogram.html"><i class="as-icon as-icon-chevron-right"></i></a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <as-responsive-content id="responsive">
      <main class="as-main">
          <div class="as-map-area">
              <div id="map"></div>
              <footer class="as-map-footer">
                <div class="as-box">
                  <p class="as-title">Box</p>
                  <p class="as-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <p class="as-body">
                    Inventore possimus nam quam necessitatibus omnis, est sequi rem quibusdam molestiae.
                  </p>
                </div>
              </footer>
          </div>
      </main>
      <aside class="as-sidebar as-sidebar--left">
        <div class="as-container as-container--scrollable">
          <section class="as-box">
            <h1 class="as-title">Listings information</h1>
            <h2 id="count" class="as-subheader"></h2>
            <h4 class="as-subheader">Average price: <span id="priceAvg" class="as-subheader"></span></h4>
            <h4 class="as-subheader">Neighborhood:</h4>
            <as-category-widget show-clear-button id="hood"></as-category-widget>
          </section>
        </div>
      </aside>
    </as-responsive-content>
  </div>
  <script src="/scripts/map.js"></script>
  <script>
    const responsive = document.querySelector('as-responsive-content');

    // Generic stencil way
    responsive.componentOnReady().then(() => {
      const { map, layer } = createMap({
        viz: `
          @hoodHist: globalHistogram($neighbourhood_group)
          color: ramp($neighbourhood_group, BOLD)
        `
      });

      const toolbarActions = document.querySelector('.as-toolbar__actions');
      document.querySelector('.as-toolbar__toggle').addEventListener('click', () => {
        toolbarActions.classList.toggle('as-toolbar__actions--visible');
      });

      const count = document.querySelector('#count');
      const priceAvg = document.querySelector('#priceAvg');
      const hood = document.querySelector('#hood');

      function updateUI(viz) {
        const avgPrice = viz.variables.avgPrice.value;

        count.innerText = `${viz.variables.featureCount.value} listings`;
        priceAvg.innerText = `${isNaN(avgPrice) ? '--' : avgPrice.toFixed(2)} €`;
      }

      function bindUI(viz) {
        layer.on('updated', () => {
          updateUI(viz);
        });

        const { data } = viz.color.getLegendData();

        hood.categories = viz.variables.hoodHist.value.map((val) => ({
          name: val.x,
          value: val.y,
          color: rgbaToCss(data.filter((d) => d.key === val.x)[0].value)
        }));

        hood.addEventListener('categoriesSelected', (event) => {
          if (event.detail.length === 0) {
            viz.filter.blendTo(1);
            return;
          }

          viz.filter.blendTo(`$neighbourhood_group in [${event.detail.map(e => `'${e}'`).join('')}]`)
        });
      }

      // Layer might be loaded or not
      if (layer.viz) {
        bindUI(layer.viz);
      } else {
        layer.on('loaded', () => {
          bindUI(layer.viz);
        });
      }
    });
  </script>
</body>

</html>
