:root {
  /* Theme Colors */

  /* Brand */
  --as--color--primary: #5151E6;
  --as--color--primary--hover: #3737AC;
  --as--color--primary--active: #3737AC;
  --as--color--secondary: #7B736F;
  --as--color--secondary--hover: #5A524E;
  --as--color--secondary--active: #5A524E;
  --as--color--complementary: #DD672C;
  --as--color--complementary--hover: #EE8048;
  --as--color--complementary--active: #EE8048;

  /* "Type Colors" from darker to lighter */
  --as--color--type-01: #24242E;
  --as--color--type-02: #333342;
  --as--color--type-03: #515167;
  --as--color--type-04: #FBF9F9;

  /* "UI Colors" from lighter to darker */
  --as--color--ui-01: #FBF9F9;
  --as--color--ui-02: #EAE4E1;
  --as--color--ui-03: #D8CFCB;
  --as--color--ui-04: #C3BBB7;

  /* Badges */
  --as--color--badge-blue: #B7ADF8;
  --as--color--badge-gray: #F1F1F1;
  --as--color--badge-green: #C9F8AD;
  --as--color--badge-pink: #F8ADEF;
  --as--color--badge-yellow: #EFF8AD;

  /* Support colors */
  --as--color--error: #EE8048;
  --as--color--warning: #EFF8AD;
  --as--color--success: #50DDF0;
}